<div class="tw-mt-12 tw-container tw-max-w-5xl tw-mx-auto">
  <h1>Brisa - Pokémon</h1>
  <p class="tw-mt-2">An example using View Transition with Brisa</p>

  <div class="tw-mt-12">
    <div class="tw-grid tw-gap-6 tw-grid-cols-4">
      @for (pokemon of pokemons(); track pokemon.id) {
        <ng-container *ngTemplateOutlet="pokemonTemplate; context: { $implicit: pokemon }" />
      }
    </div>
  </div>
</div>

<ng-template #pokemonTemplate let-pokemon>
  <div class="
  tw-cursor-pointer tw-border tw-border-white tw-rounded-lg tw-p-4 tw-shadow-md
  tw-transition-shadow tw-duration-[0.3s] hover:tw-shadow-[0_0_15px_rgba(33,33,33,0.2)]
  ">
    <img class="tw-w-full hover:tw-scale-110 tw-transition tw-duration-500 tw-cursor-pointer tw-object-cover" [src]="'/assets/pokemons/' + pokemon.image" />
    <div class="tw-mt-4 tw-mx-2">
      <p class="tw-font-semibold tw-capitalize">{{ pokemon.name }}</p>
      <p class="tw-mt-2 tw-truncate tw-text-xs">{{ pokemon.description }}</p>
    </div>
  </div>
</ng-template>
