/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1, p {
  margin: 0;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}
